

<div class="content">
  <menu></menu>
  <router-outlet></router-outlet>
</div>



















<!-- 

<h1 [ngStyle]="{color: isAdmin ? 'red' : 'black'}">
  {{ title }}!
</h1>

<button name="btnShowFavoriteMovies" (click)="btnShowFavoriteMovies_OnClick()"  id="btnShowFavoriteMovies">Show Favorite Movies</button>
<button name="btnShowHorrorMovies" (click)="btnShowHorrorMovies_OnClick()"  id="btnShowHorrorMovies">Show Horror Movies</button> 
<button name="btnShowGuests" (click)="btnShowGuests_OnClick()"  id="btnShowGuests">Show Guests</button>
<button name="btnShowFriends" (click)="btnShowFriends_OnClick()"  id="btnShowFriends">Show Friends</button>

<div id="favoriteMovies"> 
  <h3>My favorites movies:</h3>
  <ul *ngIf="showFavoriteMovies===true">
    <li appHighlight> Les ripoux</li>
    <li>Les visiteurs</li>
    <li>Les trois frères</li>
  </ul>
</div>  

<div id="horrorMovies"> 
  <h3>My horror movies:</h3>
  <ul *appDisplay="showHorrorMovies===true">
    <li appHighlight> Wrong Turn 1</li>
    <li > Wrong Turn 2</li>
    <li > Wrong Turn 3</li>
    <li > Wrong Turn 4</li>
    <li > Wrong Turn 5</li>
    <li > Wrong Turn 6</li>
   </ul>
</div>  


<div id="guests"> 
  <h3>My guests:</h3>
  
  <ul *ngIf="showGuests===true">
    <li>Brenda</li>
    <li>Dylan</li>
    <li>Jean-Mi</li>
    <li>Kylie</li>
  </ul>
</div> 

<div id="friends"> 
  <h3>My friends:</h3>
  <ul *appDisplay="showFriends">
    <li>Tom</li>
    <li [ngClass]="{'vital': isThisGuestImportant}">Luc</li>
    <li>Elenore</li> 
  </ul>
</div> 

 -->